<h1>Modificar Usuario:</h1>
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
    </div>
    <input type="text" [(ngModel)]="nombre" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Nombre</span>
    </div>
    <input type="text" [(ngModel)]="nombreNuevo" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Apellido</span>
    </div>
    <input type="text" [(ngModel)]="apellidoNuevo" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nueva Edad</span>
    </div>
    <input type="number" [(ngModel)]="edadNuevo" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nueva Url Imagen</span>
    </div>
    <input type="text" [(ngModel)]="imagenNuevo" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<button type="button" class="btn btn-primary" (click)="actualizarUsuario()">Modificar Usuario</button>
<a [routerLink]="['/']">Volver al Menú Principal</a>